---
---
<div class="manifesto">
  <div class="manifesto-track">
    <span>HUMO DE VERDAD</span><span class="sep">✦</span>
    <span>¿YA FUISTE?</span><span class="sep">✦</span>
    <span>MADERA Y TIEMPO</span><span class="sep">✦</span>
    <span>SIN HORNO. SIN TRAMPA.</span><span class="sep">✦</span>
    <span>HASTA QUE SE ACABA</span><span class="sep">✦</span>
    <span>EL HUMO NO MIENTE</span><span class="sep">✦</span>
    <span>BOLÍVAR 667</span><span class="sep">✦</span>
    <span>SMOKE WARRIOR</span><span class="sep">✦</span>
    <span>12 HORAS EN EL FUEGO</span><span class="sep">✦</span>
    <span>¿LO SENTÍS?</span><span class="sep">✦</span>
    <span>RAMOS MEJÍA</span><span class="sep">✦</span>
    <span>SOLO JUEVES A DOMINGO</span><span class="sep">✦</span>
    <span>HUMO DE VERDAD</span><span class="sep">✦</span>
    <span>¿YA VINISTE?</span><span class="sep">✦</span>
    <span>EL HUMO NO MIENTE</span><span class="sep">✦</span>
    <span>BOLÍVAR 667</span><span class="sep">✦</span>
    <span>SMOKE WARRIOR</span><span class="sep">✦</span>
    <span>12 HORAS EN EL FUEGO</span><span class="sep">✦</span>
    <span>¿LO SENTÍS?</span><span class="sep">✦</span>
    <span>RAMOS MEJÍA</span><span class="sep">✦</span>
    <span>SOLO JUEVES A DOMINGO</span><span class="sep">✦</span>
    <span>VENI Y PEDI PICK UP</span><span class="sep">✦</span>
  </div>
</div>

<div class="wood-divider"></div>
